
/* styling varaiables for shadows, color scheme of pages, and border */
:root {
    --MAINshadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    --SECONDARYshadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --BUTTONcolor: rgb(150, 218, 272);
    --ASIDEtitles: rgb(150, 218, 272, 0.5);
    --ASIDEcontent: rgb(177, 226, 250);
    --ASIDEcontent-title: rgb(128, 223, 255, .07); /*opacity 75%*/
    --FADEDborder:  1px solid rgb(0, 0, 0, 0.3);
    --WHITEborder: 1px solid rgb(255,255,255);
}

/* this class changes all links no matter what the interaction to white*/
a {
    color: white;
}
/*this class gives a bit of style to the links when they are hovered on NOT the buttons themslevs but just
the text of the links*/
a:hover {
    color: black;
    font-style: italic;
}

/* main wrapper for my navigation section, about section and projects section*/
/* the main wrapper does not include the footer section */
.MAINwrapper {
    display: flex;
    flex-direction: column;
}

/* this class is the wrapper for my top navigation bar and the buttons within it. */
.NAVwrapper {
    padding-bottom: 10em;
    margin: 0 auto;
    width: 50%;
}
/* this class wraps the top section of the nav bar */
.top-nav-wrap {
    padding-bottom: 10em;
    margin-top: 1.5em;
}
/* this class encompasses the style ONLY for the nav buttons */
.nav-button-wrap {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;

}
/* this class styles the bar buttons */
.nav-button {
    background-color: var(--BUTTONcolor);
    padding: 1.5em 0.5em;
    border-radius: 3px;
    box-shadow: var(--MAINshadow);
    color: white;
    font-weight: 400;
    margin: 1em auto;
    width: 100%;
    font-size: 23px;
}
/* when the user hovers over the navigation buttons, they will take on these css styling properties */
.nav-button:hover {
    box-shadow: var(--SECONDARYshadow);
    transform: scale(1.5);
}
 
/*bottom navigation section*/
.bottom-nav-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
    margin-top: 7%;
    text-align: center;
}
.quote {
    font-size: 1.75em;
    font-family: system-ui;
    font-weight: lighter;
    width: 10em;
    padding-top: 4em;
    margin-top: 4em;
    margin: 0 auto;
}
.author {
    font-weight: 300;
    font-family: system-ui;
    margin-top: .6em;
    font-size: 1.2em;
    width: 4.7em;
    margin: 0 auto;
}
/*END OF NAVIGATION HEADER SECTION */


/* BEGINNING OF ABOUT SECTION */
/* this class wraps around the entire about section */
.about-div-wrap {
    display: flex;
    flex-direction: row;
}

.about {
    background-color: var(--ASIDEtitles);
    padding: 0 6em 3em 12em;
    border: 1px solid black;
    width: 9em;
}
.about-title{
    color: white;
    font-size: 70px;
    margin: 0em 0em 0em -1em;
    padding-left: 0px;
    padding-top: 27px;
    font-style: italic;
}
.about-title:hover {
    color: black;
}
.profile-photo {
    padding: 1em;
    margin-left: -82px;
    margin-top: 54px;
    width: 170px;
    height: 170px;
    border-radius: 5px;
    box-shadow: var(--MAINshadow);
    z-index: 10;
}
.profile-photo:hover {
    box-shadow: var(--SECONDARYshadow);
}
.about-skills-title {
    font-size: 2em;
    font-weight: 500;
    background-color: var(--ASIDEcontent-title);
    text-align: center;
    color: black;
    border-top: 1px solid black;
    border-bottom: var(--FADEDborder);
    margin: 0 auto;
}
.about-skill-list {
    font-size: auto;
    font-family: system-ui;
    font-weight: 300;
    background-color: var(--ASIDEcontent-title);
    text-align: center;
    color: black;
    margin: 0 auto;
}
.about-skill-list:hover {
    font-weight: 400;
}
.li-border {
    border-bottom: 1px solid rgb(0, 0, 0);
}
.about-content-title {
    color: black;
    font-size: 30px;
    font-family: auto;
    border-bottom: var(--FADEDborder);
}
.about-content {
    background-color: var(--ASIDEcontent);
    padding: 0em 0em 1.3em 0em;
    max-width: 853px;
    height: 249.5px;
    font-family: system-ui;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid black;
    min-width: 400px;
}

.about-content:hover {
    font-weight: 400;
    
}
/* end of about section */


/* project section starts here */
.project-div-wrap {
    display: flex;
    flex-direction: column;
}
/* this class wraps my projects title */
.project-title-wrap {
    width: 100%;
    background-color: var(--ASIDEtitles);
    border-bottom: 1px solid black;
    
}
/* this class will style the title PROJECT */
.project-title{
    color: white;
    font-size: 75px;
    height: 2.5em;
    width: auto;
    margin: auto auto;
    text-align: center;
    line-height: 2.5em;
    font-style: italic;
}
.project-title:hover {
    color: black;
}
/* this class wraps my project cards giving them flex properties */
.project-card-wrap {
    display: flex;
}
/* this class will style my project cards */
.project-card {
    color: white;
    font-size: 2em;
    float: left;
    background-color: var(--ASIDEtitles);
    border: var(--FADEDborder);
    text-align: center;
    width: 11em;
    height: 6em;
    margin: 1em;
    line-height: 6em;
    box-shadow: var(--MAINshadow);
}
/* hover properties for project cards */
.project-card:hover {
    box-shadow: var(--SECONDARYshadow);
    font-size: 2em;
    color: black;
    font-style: italic;
    font-weight: 400;
    transform: scale(1.2);
}
/* END OF PROJECT SECTION */

/* BEGINNING OF FOOTER */
/* this class wraps the entire footer */
.footer-wrapper{
    width: 71%;
    height: 20em;
    margin: 0 auto;
}
/* this class styles the h1 footer class with CONTACT */
.footer-contact-title {
    border: var(--FADEDborder);
    text-align: center;
    font-size: 4.5em;
    background-color: var(--ASIDEcontent-title);
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--MAINshadow);
    color: var(--BUTTONcolor);
    font-style: italic;
}
.footer-contact-title:hover {
}

/* this class wraps my buttons giving them flex properties */
.footer-button-wrap {
    display: flex;
    flex-direction: column;
}
/* this class styles all buttons in the footer */
.footer-button {
    border: var(--FADEDborder);
    background-color: var(--BUTTONcolor);
    color: white;
    margin: 1em auto;
    width: 100%;
    box-shadow: var(--MAINshadow);
    border-radius: 3px;
    padding: 1em;
    font-size: 2em;
}
/* hover styleing for the buttons in footer */
.footer-button:hover {
    box-shadow: var(--SECONDARYshadow);
    transform: scale(1.2);
}



/* media querie to adjust the elements if the screen size gets below 1024px*/
@media only screen and (max-width: 1024px) {
    .about-div-wrap {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
    .about-skills-title {
        min-width: 434px;
    }
    .about-skill-list {
        min-width: 434px;
    }
    .about-content {
        min-width: 434px;
    }
    .about-content-title {
        min-width: 434px;
    }
    .about-text {
        min-width: 434px;
    }
    .project-div-wrap {
        min-width: 434px;
    }
    .project-title {
        min-width: 434px;
    }

}